canvas{

background: linear-gradient(90deg, #ffc13a 0%, #FF6E63 100%);


filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );

position: absolute;
top: 0;
left: 0;
z-index: 0;
}



@media screen and (max-width: 1000px ){
    canvas {
        display: none;
    }
}
